//variables
@import "./utils/vars.scss";

.admin-form {
  display: flex;
}
.admin-form__container-input-list {
  margin-right: 20px;
}
.admin-form {
  margin-top: 20px;
}
%text-shared {
  color: $textColor;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 700;
}

%input-shared {
  @extend %text-shared;
  padding: 5px 10px 5px 10px;
  border: $textColor solid 1px;
  background-color: $bgColor;
}

.admin-form__input-list {
  @extend %input-shared;
  width: 150px;
  &.error {
    color: brown;
  }
  &.blink-ok {
    animation: blinkBorder-ok 0.5s linear;
  }
  &.blink-error {
    animation: blinkBorder-error 0.5s linear;
  }
}

@keyframes blinkBorder-ok {
  50% {
    border: greenyellow solid 1px; //TODO перенести в константы 1
    background-color: rgb(94, 109, 80);
  }
}

@keyframes blinkBorder-error {
  50% {
    border: brown solid 1px; //TODO перенести в константы 2
    background-color: rgb(92, 63, 52);
  }
}

.admin-form__textarea {
  @extend %input-shared;
}
.admin-notes__item {
  @extend %text-shared;
  padding-bottom: 10px;
  &.error {
    color: brown;
  }

  //animation on scroll
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.4s;
  &._down-hidden {
    transform: translate(0px, 50px) rotate(5deg);
    transform-origin: top left;
    opacity: 0;
  }
  &._up-hidden {
    transform: translate(0px, -50px) rotate(-5deg);
    transform-origin: bottom left;
    opacity: 0;
  }
}
.admin-notes {
  padding-top: 20px;
}
