
//variables
@import './utils/vars.scss';
@import './utils/reset.css';
@import './libs/night-owl.css';
@import 'admin.scss';



@font-face {
  font-family: "Gotham-ligth";
  src: url("../fonts/Gotham-XLight.woff2") format("woff2");
}

@font-face {
  font-family: "Gotham-ultra";
  src: url("../fonts/Gotham-Ultra.woff2") format("woff2");
}

@font-face {
  font-family: "Gotham-book";
  src: url("../fonts/Gotham-Book.woff2") format("woff2");
}

.page__header {
  font-size: 120px;
  line-height: 120px;
  letter-spacing: -5px;
  text-align: center;
  margin-top: 12px;
  color: $textColorContrast;
  font-family: Gotham-ultra;
}
.page__text-block-title {
  color: $textColorContrast;
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 35px;
  padding-bottom: 25px;
}
.page__text-block-content {
  font-size: 14px;
  line-height: 20px;
  color: transparent;
  text-shadow: 0 0 0.5px $textColor;

}

.page__text-block {
  width: auto;
  text-align: left;
  padding: 30px;

    
  //animation on scroll
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.4s;
    &._down-hidden{
        transform: translate(0px, 50px) rotate(5deg);
        transform-origin: top left;
        opacity: 0;
    }
    &._up-hidden {
        transform: translate(0px, -50px) rotate(-5deg);
        transform-origin: bottom left;
        opacity: 0;
    }

}



.page__content {
  position: relative;
  text-align: center;
  margin-top: 12px;
  letter-spacing: 0.5px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.page__menu {
  position: fixed;
  top: 200px;
  left: 200px;
  line-height: 30px;
  width: 200px;
}
.page__menu-item {
  cursor: pointer;
  background-color: $bgColorMenu;
  margin-bottom: 5px;
}

.auth__container {
  display: flex;
  flex-direction: row-reverse;
}
.auth__btn {
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  border: 1px solid $textColor;
}
.auth__form-container {
  display: none;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  background: $bgColorAuthContainer;
}
.auth__form {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: $bgColorAuth;
  display: flex;
  flex-direction: column;
}
.auth__input {
  padding: 3px 5px 3px 5px;
  border: 1px solid $textColor;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
}
.auth__group-button {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;

  
}
.auth__info {
  padding-top: 10px;
  padding-right: 20px;
}

.auth__logo {
  text-align: center;
  padding-bottom: 10px;
}

body {
  height: 100%;
  background-color: $bgColor;
  color: $textColor;
  font-family: Gotham-book;
}

@media (max-width: 1800px) {
  .page__menu {
    left: 100px;
  }
}
@media (max-width: 1700px) {
  .page__menu {
    left: 80px;
  }
}
@media (max-width: 1500px) {
  .page__menu {
    left: 50px;
  }
}
@media (max-width: 1450px) {
  .page__menu {
    left: 50px;
  }
  .page__text-block {
    width: 900px;
  }
}
@media (max-width: 1400px) {
  .page__menu {
    left: 30px;
  }
}

@media (max-width: 1350px) {
  .page__menu {
    left: 30px;
  }
  .page__text-block {
    width: 800px;
  }
}
@media (max-width: 1250px) {
  .page__menu {
    left: 30px;
  }
  .page__text-block {
    width: 700px;
  }
}
@media (max-width: 1150px) {
  .page__menu {
    width: 150px;
  }
}
@media (max-width: 1050px) {
  .page__menu {
    width: 150px;
  }
    .page__text-block {
      width: 600px;
    }
}
@media (max-width: 950px) {
  .page__menu {
    width: 130px;
  }
}
@media (max-width: 820px) {
  .page__menu {
    width: 100px;
  }
  .page__text-block {
    width: 570px;
  }
}
@media (max-width: 880px) {
  .page__menu {
    width: 100px;
  }
  .page__text-block {
    width: 550px;
  }
}
@media (max-width: 760px) {
  .page__menu {
    width: 100px;
  }
  .page__text-block {
    width: 500px;
  }
}

@media (max-width: 700px) {
  .page__menu {
    width: 100px;
  }
  .page__text-block {
    width: 450px;
  }
}
@media (max-width: 650px) {
  .page__menu {
    display: none;
  }
  .page__text-block {
    width: 450px;
  }
}
@media (max-width: 500px) {
  .page__text-block {
    width: 400px;
  }
}
