$textColor: rgb(168, 167, 167);
$textColorContrast: rgb(255, 255, 255);
$bgColor: #222735;
$bgColorMenu: rgb(58, 52, 4);
$bgColorAuth: rgb(58, 52, 4);
$bgColorAuthContainer: rgba(37, 37, 61, 0.5);


$blinkBorderSuccess: greenyellow; 
$blinkBackgroundSuccess: rgb(94, 109, 80);

$blinkBorderError: brown; 
$blinkBackgroundError: rgb(92, 63, 52);

$TextError: brown;