<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <title><%= SITE_TITLE %></title>
  </head>
  <body>
    <div class="container">
      <div class="auth__container">
        <div class="auth__form-container" id="login-popup">
          <div class="auth__form">
            <div class="auth__logo">Login</div>
            <input type="text" class="auth__input" id="login-email" />
            <input type="text" class="auth__input" id="login-password" />
            <div class="auth__group-button">
              <div class="auth__btn" id="login-request">Login</div>
              <div class="auth__btn" id="login-popup-close">Cancel</div>
            </div>
          </div>
        </div>
        <div class="auth__info">
          <!-- <div class="auth__btn" id="auth-btn"><%= LOGIN_BTN %></div> -->
        </div>
      </div>

      <div class="page">
        <div class="page__header">Vladimir Avakumov</div>
        <div class="page__content">
          <!-- <div class="page__menu" id="menu">
            <div class="page__menu-item _menu-item" id="menu-item-posts">Posts</div>
            <div class="page__menu-item _menu-item" id="menu-item-go">Go</div>
            <div class="page__menu-item _menu-item" id="menu-item-js">Javascript</div>
            <div class="page__menu-item _menu-item">English</div>
            <div class="page__menu-item _menu-item">Marks</div>
            <div class="page__menu-item _menu-item">Resume</div>
            <div class="page__menu-item _menu-item">Contacts</div>
          </div> -->

          
          <div id="posts">
            <div class="page__text-block _anim_item">
              <div class="page__text-block-title">
                Основной frontend stack
              </div>
              <div class="page__text-block-content">
               HTML ~ CSS ~ SCSS ~ Javascript ~ React ~ StyledComponents ~ Redux ~ ReactQuery
              </div>
            </div>

            <div class="page__text-block _anim_item">
              <div class="page__text-block-title">
                Основной backend stack
              </div>
              <div class="page__text-block-content">
                Nodejs ~ Express ~ MongoDB ~ SQL ~ Postgres ~ Prisma
              </div>
            </div>

            <div class="page__text-block _anim_item">
              <div class="page__text-block-title" >
                Прочее
              </div>
              <div class="page__text-block-content">
                Git ~ Linux ~ Webpack ~ Gulp ~ Java ~ Python 
              </div>
            </div>


            <div class="page__text-block _anim_item">
              <div class="page__text-block-title">
                Образование
              </div>
              <div class="page__text-block-content">
                Удмуртский государственный университет ~ Физический факультет ~ Физика конденсированного состояния вещества ~ 2007 год
              </div>
            </div>

            <div class="page__text-block _anim_item">
              <div class="page__text-block-title">
                Основные места работы
              </div>
              <div class="page__text-block-content">
                Учитель физики, математики 6 лет ~ инженер электросвязи 6 лет ~ системный администратор 1 год
              </div>
            </div>

            <div class="page__text-block _anim_item">
              <div class="page__text-block-title">
                О себе
              </div>
              <div class="page__text-block-content">
                После окончания университета начал интересоваться программированием. 
                В 2012 году прошел онлайн обучения java developer. Но работать программистом тогда не стал. Для этого требовался переезд в другой город.
                В 2019 все-таки решил добиться своей давней цели - работать разработчиком. На этот раз начал изучать javascript и все сопутствующее. 
                Нравится изучать новые технологии. В данный момент делаю некоторые проекты и ищу работу.
              </div>
            </div>

            <div class="page__text-block _anim_item">
              <div class="page__text-block-title">
                Проекты
              </div>
              <div class="page__text-block-content">
                <li>
                  <a href="https://custom-youtube.herokuapp.com/">
                    <h3>Свой youtube (новое)</h3>
                  </a>
                    Использовал следующие технологии: React, Styled Components, React-query, Node, Express, Postgres, Prisma, OAuth, JWT
                </li>
                <li>
                    <a href="http://avamir.ru" target="_blank">
                      <h3>Книги, блог, сапер</h3>
                    </a>
                    Использовал следующие технологии: React, Styled Components, React-redux, Node, Express, MongoDB, JWT
                  </li>
                <ul>
                  <li>
                    <a href="http://windows.avakumov.ru">
                      <h3>Окна (учебный проект)</h3>
                    </a></li>
                  <li>
                    <a href="http://painting.avakumov.ru">
                      <h3>Картины (учебный проект)</h3>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="page__text-block _anim_item">
              <div class="page__text-block-title">
                Связаться
              </div>
              <div class="page__text-block-content">
                <div><a href="avakdev@gmail.com">avakdev@gmail.com</a> </div>
                
                <div><a href="tel:+79511993677"> 8-951-199-36-77 </a></div>
                <div><a href="https://telegram.me/VladimirAvakumov"> telegram@VladimirAvakumov</a></div>
                <div><a href="https://github.com/avakumov"> github.com/avakumov</a></div>
              </div>
            </div>

           

          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer">

      </div>
    </footer>

  </body>
</html>
